
  .header{
    text-align: left;
    color: rgb(30, 206, 191);
  }

.home-page__title {
    font-weight: 700;
    font-size: 30px;
    color: #2d4271;
    left: 300px;   
}
.mb-5 {
    margin-bottom: 3rem!important;
    height: 500px;
    
   
  }  
.mb-4 {
    width: 1320px;
    margin-bottom: 1.5rem!important;
    padding-left: 310px;
    text-align: left;
  }
.discover{
    text-align: left;
    width: 200px;
    height: 500px;
    padding: 30px;
    position: relative;
    display: inline-block;
    border-radius: 10%;

    
  }
 .container-tv {
    height: 400px;
    padding-left: 300px;
 } 


 // Ghi chữ lên trên ảnh
 .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      /* Bỏ phông nền của chữ */
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    width: 170px;

    p {
      margin: 0;
      font-size: 20px;
      color: white; /* Đặt màu chữ */
      font-weight: bold;
    }
  }