.container {
    width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    text-align: left;
    color: blue;
    flex-direction: row;
    padding: 30px;
   
   
      
  }
  .header{
    text-align: left;
    color: rgb(30, 206, 191);
  }

  .discover{
    text-align: left;
    width: 200px;
    height: 160px;
    padding: 30px;
  }

  