
  //  .container {
  //   width: 1320px;
  //   height: auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding-left: 270px;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   list-style-type: none;
  //   text-align: left;
  //   color: blue;
  //   .north{
  //     text-align: left;
  //   }
  //   .litour{
  //       padding: 10px;
  //       text-decoration: none;
  //      }
  // }

  .footer {
    
    text-align: left;
    width: 278px;
    height: 328px;
    gap: 10px;
   
}

.menu{
    display: flex;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    .li{
        width: 50%;
        height: 240;
        text-align: left;
        text-decoration: none;
    }
   
}   

  .style{
    list-style-type: none;
    text-align: left;
    color: blue;
   .li{
    padding: 10px;
   
   }
}

.north{
  padding: 10px;
}

