$container-width: 1320px;
$container-height: 800px;
$padding: 30px;
$box1-width: 800px;
$box2-width: 520px;
$box-height: 400px;

.container-sp {
  width: $container-width;
  height: $container-height;
  display: flex;
  flex-wrap: wrap;
  padding: $padding;
  padding-left: 300px;

  .box {
    width: 100%;
    height:334px;
    border: 1px solid #000;
    display: flex;
    margin-bottom: $padding;
    background-color: white;

    &:nth-child(2n) {
      margin-right: $padding;
    }
   
    .box-inner {
      height: $box-height;
      .image {
        width: 400px;
        height: auto;
        background-color: white;
        text-align: left;
    }
      &:first-child {
        width: $box1-width;
        margin-right: $padding;
      }
      &:last-child {
        width: $box2-width;
      }
    }
  }
}
