.a{
    text-decoration : none;
    color: black;
 }

 // Khuyến mãi
 .slide-in-promotion {
    position: absolute;
    left: 0;
    top: 100%;
    transition: left 0.3s ease;
    background-color: white;
    width: 1860px;
    height: 500px;
  }
  
  .slide-in-promotion.active {
    left: 0;
  }

  // Tin tức
  .slide-in-news {
    position: absolute;
    left: 600px;
    top: 100%;
    transition: left 0.3s ease;
    background-color: white;
    width: 200px;
    height: 200px;
  }
  
  .slide-in-news.active {
    left: 0;
  }


  // Vận chuyển
  .slide-in-transport {
    position: absolute;
    left: 450px;
    top: 100%;
    transition: left 0.3s ease;
    background-color: white;
    width: 150px;
    height: 100px;
  }
  
  .slide-in-news.transport {
    left: 0;
  }

  // Du lịch

  .slide-in-travel {
   
    position: absolute;
    left: 0px;
    top: 100%;
    transition: left 0.3s ease;
    background-color: white;
    width: 1860px;
    height: 500px;
    text-align: left;
    border: 1px solid red;
    .ul{
      padding: 50px;
      color: rgb(17, 154, 233);
    }
    .li{
      padding: 10px;
      list-style-type: none;
      color: rgb(94, 160, 199);
    }
   
  }
  
  .slide-in-news.travel {
    left: 0;
  }
// .nav{
//     &-link{
//         text-decoration: none;
//         color: black;
//         svg {
//             color: black;
//         }
//         &.active{
//            background-color: rgb(84, 119, 185);
//            display: block;
//            color: white;
//            svg {
//             color: white;
//         }
//         }
//     }
   
// }
// .navbar-nav {
   
//     display: flex;
//     flex-direction: column;
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;
// }

// .navbar-collapse {
//     -ms-flex-preferred-size: 100%;
//     flex-basis: 100%;
//     -webkit-box-flex: 1;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
// }
// .navbar-nav .nav-link {
//     padding-right: 0;
//     padding-left: 0;
// }
// .header .navbar .logo {
//     line-height: 60px;
//     max-width: 150px;
// }

// .navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: inherit;
//     flex-wrap: inherit;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
// }
 